.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #343a40; /* Navbar 배경색 설정 (원하는 색상으로 변경 가능) */
}
.navbar {
    margin-bottom: 50px; /* 간격을 줄임 */
    position: fixed;
    width: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}

.navbar-nav .nav-item {
    margin: 0 0px; /* 간격을 더 작게 조정 */
}

.navbar-nav .nav-link {
    padding: 10px 15px; /* 링크의 패딩 조정 */
    font-family: Arial, sans-serif; /* 폰트 변경 */
    font-size: 16px; /* 폰트 크기 변경 */
}

.text-end {
    display: flex;
    align-items: center;
}